@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    background-color:#F5F5F5;
}

.product{
    margin: auto;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
}

.container1{
    background-color: #336B87;
}
.container1 .row .col-md .card {
    background-color: #00BCD4;
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 13px;
}

.card-title{
    font-size: 1.3em;
}

.container2 ,.container3{
    margin: auto;
    width: 90%;
}

.container2 .categories-product, .container2 .product-title{
    font-family: 'Libre Baskerville', serif;
}

.carousel-inner{
    border-radius: 5px;
    border: 3px solid #1548a8;
}

.container3{
    font-family: 'Libre Baskerville', serif;
    font-size: 0.9em;
}

.tablas_pujas{
    margin: auto;
    width: 55%;
    border: 1px solid #1548a8;
    border-radius: 4px;
    background-color: #353A40;
    font-family: "Times New Roman", Times, serif;
    
}
.table.table-sm.table-bordered{
    color: white;
}


.container.text-center.p-2{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid #444444;
}

#tiempopuja, #comienzosubasta{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tiempo_producto, .cant_puja, #botonpuja, .finalsubasta, #ganador{
    display: none;
}
.tiempo_producto.revelado, .cant_puja.revelado, #botonpuja.revelado, .finalsubasta.revelado, #ganador.revelado{
    display:flex;
    justify-content: center;
}


.simply-section{
    background: #fff;
    margin: 0 6px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount{
    display: block;
    font-size: 25px;
    font-weight: 50;
}

.simply-word{
    font-weight: 100;
    font-weight: 10px;
    font-family: 'Oswald', serif;
}

.boton_puja.my-2.oculta, .cant_puja.oculta, .comienzosubasta.oculta,#botonpuja.revelado.oculta{
    display: none;
}


.btn.btn-outline-primary{
    background-color: #90AFC5;
    border: #2A3132;
}