@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.font-popin{
    font-family: 'Poppins', sans-serif;
}

.contenido-dinamico-lateral{

    border-radius:0px;border-color: black;
    border-width : 0px 0px 0px 0px;
    border-style:solid;    
}

.columna-barra-lateral{
    border-radius:0px;border-color: black;
    border-width : 0px 0px 0px 0px;
    border-style:solid;
    border-radius: 1px;    
    
}
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .boton-ver-subasta{
      background: rgba(51, 122, 183, 1);
      font-weight: bold;
      height: 40px;
    color: white;
    }

.progress, .alert {
    margin: 15px;
}
    
.alert {
    display: none;
}

.imagen-producto-card{
    height: 200px;
}

.sub-rapida-icono{
    text-align: center;
}

.sub-rapida-main-content{
    background-color: white;
}
.sub-rapida-principal{
    background-color: white;
    border-radius: 10px;
    border-color:black;
    border-style: double;
    border-width: 0px;
}

.titulo-card-header-2{
    font-family: 'Libre Baskerville', serif;

}

.card-contenido-cuerpo-2{
    font-family: 'Oswald', serif;
}

.titulo-card-header-1{
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;

}

.card-contenido-cuerpo-1{
    font-family: 'Oswald', serif;
    font-size: 15px;
}

.imagen-producto-card{
    width: 100%;
}

.img-logo-size{
    max-width: 50px;
    margin: auto;
}
/*Contenido botones*/
.nav-pills-tab-1 > li + li {
    margin-left: 0; }
  .nav-pills-tab-1 > li > a {
    border: 2px solid #66615B;
    border-radius: 0;
    color: #66615B;
    font-weight: 600;
    margin-left: -1px;
    padding: 5px 20px; }
  .nav-pills-tab-1 > li.active > a,
  .nav-pills-tab-1 > li.active > a:hover,
  .nav-pills-tab-1 > li.active > a:focus {
    background-color: #66615B;
    color: #FFFFFF; }
  .nav-pills-tab-1 > li:first-child > a {
    border-radius: 30px 0 0 30px;
    margin: 0; }
  .nav-pills-tab-1 > li:last-child > a {
    border-radius: 0 30px 30px 0; }
  


    .btn.btn-fill-1,
    .navbar .navbar-nav > li > a.btn.btn-fill-1 {
      color: #FFFFFF;
      background-color: #66615B;
      opacity: 1;
      filter: alpha(opacity=100); }
      .btn.btn-fill-1:hover, .btn.btn-fill-1:focus, .btn.btn-fill-1:active, .btn.btn-fill-1.active, .open > .btn.btn-fill-1.dropdown-toggle,
      .navbar .navbar-nav > li > a.btn.btn-fill-1:hover,
      .navbar .navbar-nav > li > a.btn.btn-fill-1:focus,
      .navbar .navbar-nav > li > a.btn.btn-fill-1:active,
      .navbar .navbar-nav > li > a.btn.btn-fill-1.active, .open >
      .navbar .navbar-nav > li > a.btn.btn-fill-1.dropdown-toggle {
        background-color: #403D39;
        color: #FFFFFF;
        border-color: #403D39; }
      .btn.btn-fill-1 .caret,
      .navbar .navbar-nav > li > a.btn.btn-fill-1 .caret {
        border-top-color: #FFFFFF; }
  



        .product__item {
	margin-bottom: 0px;
}

.product__item__pic {

    position: relative;
    border-radius: 5px;
    
}

.product__item__pic .ep {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	padding: 2px 12px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.product__item__pic .comment {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.product__item__pic .view {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.product__item__text {
	padding-top: 20px;
}

.product__item__text ul {
	margin-bottom: 10px;
}

.product__item__text ul li {
	list-style: none;
	font-size: 10px;
	color: #ffffff;
	font-weight: 700;
	padding: 1px 10px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	display: inline-block;
}

.product__item__text h5 a {
	color: #ffffff;
	font-weight: 700;
	line-height: 26px;
}




#container {
    margin: 0 auto;
    width: 460px;
    padding: 2em;
    background: #DCDDDF;
   }
   
   .ui-progress-bar {
    margin-top: 3em;
    margin-bottom: 3em;
   }
   
   .ui-progress span.ui-label {
    font-size: 1.2em;
    position: absolute;
    right: 0;
    line-height: 33px;
    padding-right: 12px;
    color: rgba(0,0,0,0.6);
    text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
    white-space: nowrap;
   }
   
   @-webkit-keyframes animate-stripes {
    from {
    background-position: 0 0;
    }
   
    to {
    background-position: 44px 0;
    }
   
   }
   
   .ui-progress-bar {
    position: relative;
    height: 35px;
    padding-right: 2px;
    background-color: #abb2bc;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
    background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
   }
   
   .ui-progress {
    position: relative;
    display: block;
    overflow: hidden;
    height: 33px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    -webkit-background-size: 44px 44px;
    background-color: #74d04c;
    background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0.00, rgba(255,255,255,0.17)), color-stop(0.25, rgba(255,255,255,0.17)), color-stop(0.26, rgba(255,255,255,0)), color-stop(0.50, rgba(255,255,255,0)), color-stop(0.51, rgba(255,255,255,0.17)), color-stop(0.75, rgba(255,255,255,0.17)), color-stop(0.76, rgba(255,255,255,0)), color-stop(1.00, rgba(255,255,255,0)) ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
    background: -moz-repeating-linear-gradient(top left -30deg, rgba(255,255,255,0.17), rgba(255,255,255,0.17) 15px, rgba(255,255,255,0) 15px, rgba(255,255,255,0) 30px ), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    border: 1px solid #4c8932;
    -webkit-animation: animate-stripes 2s linear infinite;
}


.time{
    text-align: center;
    
}

